.draggable-container {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  cursor: grab;
  position: fixed; /* Set default position to fixed */
}

/* Position at top-left */
.draggable-container.top-left {
  top: 10px;
  left: 10px;
}

/* Position at top-right */
.draggable-container.top-right {
  top: 10px;
  right: 10px;
}

/* Position at bottom-left */
.draggable-container.bottom-left {
  bottom: 10px;
  left: 10px;
  top: unset; /* Reset the 'top' property */
}

/* Position at bottom-right */
.draggable-container.bottom-right {
  bottom: 10px;
  right: 10px;
  top: unset; /* Reset the 'top' property */
}

/* Position at center */
.draggable-container.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.draggable-container.closed {
  opacity: 0;
}

.draggable-button {
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #333;
  cursor: pointer;
  outline: none;
}

.draggable-container:not(.closed) {
  cursor: grab;
}

.draggable-container:not(.closed):hover .draggable-button {
  cursor: grab;
}

.draggable-container.closed,
.draggable-container:not(.closed):hover {
  cursor: default;
}
